[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==5.0.1"
molecule = "==3.5.2"
docker = "==5.0.3"
ansible-lint = "==5.3.1"
molecule-docker = "==1.1.0"
molecule-goss = "==1.1"

[dev-packages]

[requires]
python_version = "3.9"
