---

- name: NEXUS | Setup Nexus Xms
  lineinfile:
    dest: "{{ nexus_installation_path }}/bin/nexus.vmoptions"
    regexp: "^-Xms.*"
    line: "-Xms{{ nexus_java_xms }}"
  notify: restart nexus

- name: NEXUS | Setup Nexus Xmx
  lineinfile:
    dest: "{{ nexus_installation_path }}/bin/nexus.vmoptions"
    regexp: "^-Xmx.*"
    line: "-Xmx{{ nexus_java_xmx }}"
  notify: restart nexus

- name: NEXUS | Setup Nexus XX:MaxDirectMemorySize
  lineinfile:
    dest: "{{ nexus_installation_path }}/bin/nexus.vmoptions"
    regexp: "^-XX:MaxDirectMemorySize=.*"
    line: "-XX:MaxDirectMemorySize={{ nexus_java_xxmaxdirectmemorysize }}"
  notify: restart nexus

- name: NEXUS | Setup Nexus data directory
  lineinfile:
    dest: "{{ nexus_installation_path }}/bin/nexus.vmoptions"
    regexp: "^-Dkaraf.data=.*"
    line: "-Dkaraf.data={{ nexus_data_path }}"
  notify: restart nexus

- name: NEXUS | Setup JVM logfile directory
  lineinfile:
    dest: "{{ nexus_installation_path }}/bin/nexus.vmoptions"
    regexp: "^-XX:LogFile=.*"
    line: "-XX:LogFile={{ nexus_log_path }}/jvm.log"
  notify: restart nexus

- name: NEXUS | Setup Nexus tmp directory
  lineinfile:
    dest: "{{ nexus_installation_path }}/bin/nexus.vmoptions"
    regexp: "^-Djava.io.tmpdir=.*"
    line: "-Djava.io.tmpdir={{ nexus_tmp_path }}"
  notify: restart nexus

- name: NEXUS | Setup Nexus java prefs directory
  lineinfile:
    dest: "{{ nexus_installation_path }}/bin/nexus.vmoptions"
    regexp: "^-Djava.util.prefs.userRoot=.*"
    line: "-Djava.util.prefs.userRoot={{ nexus_tmp_path }}.java"
  notify: restart nexus

- name: NEXUS | Setup JMX 
  lineinfile:
    dest: "{{ nexus_installation_path }}/bin/nexus.vmoptions"
    regexp: "^{{ item.key }}=.*"
    line: "{{ item.key }}={{ item.value }}"
  notify: restart nexus
  loop: "{{ nexus_jmx_properties }}"
  when: nexus_jmx_enabled

- name: NEXUS | Download composer repository plugin
  get_url:
    url: https://search.maven.org/remotecontent?filepath=org/sonatype/nexus/plugins/nexus-repository-composer/{{ item.plugin_version }}/nexus-repository-composer-{{ item.plugin_version }}-bundle.kar
    dest: "{{ nexus_installation_path }}/deploy"
  with_items:
    - "{{ nexus_repositories_composer }}"

- name: NEXUS | Copy configuration
  template:
    src: nexus.properties.j2
    dest: "{{ nexus_data_path }}/etc/nexus.properties"
    owner: "{{ nexus_user }}"
    group: "{{ nexus_group }}"
  notify: restart nexus

- name: NEXUS | First-time install admin password
  set_fact:
    current_nexus_admin_password: 'admin123'
  when: nexus_check is failed

- name: NEXUS | Actual admin password
  set_fact:
    current_nexus_admin_password: "{{ nexus_admin_password }}"
  when: nexus_check is success
  no_log: true
