##################### Nexus Configuration #####################
#
# {{ ansible_managed }}
#

application-host = {{ nexus_host }}
application-port = {{ nexus_port }}
nexus-context-path = {{ nexus_context_path }}
